<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.feiyang.elocker">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:allowClearUserData="true"
        android:label="@string/app_lable"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/login"></activity>
        <activity android:name=".activity.UnlockActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LockerListActivity"></activity>
        <activity android:name=".activity.AuthorizationActivity"></activity>
        <activity android:name=".activity.SettingActivity"></activity>
        <activity android:name=".activity.AuthorizationEditActivity"></activity>
    </application>

    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

</manifest>