<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.feiyang.elocker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.UnlockActivity"
            android:label="@string/main_activity_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LockerListActivity"
            android:label="@string/main_activity_name"></activity>
        <activity
            android:name=".activity.AuthorizationActivity"
            android:label="@string/main_activity_name"></activity>
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/main_activity_name"></activity>
        <activity
            android:name=".activity.AuthorizationEditActivity"
            android:label="@string/time_picker_activity_name" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>